{# Purpose of this template: Display attached images within an external context #}
{% for attachedImage in items %}
    <h3>{{ attachedImage.getTitleFromDisplayPattern() }}</h3>
    <p><a href="{{ path('rkreferencemodule_attachedimage_display', { 'id': attachedImage.id }) }}">{{ __('Read more') }}</a>
    </p>
{% endfor %}
