    <div class="section section-primary">   
	   <div class="container">
            <!-- <hr /> -->
            <footer class="section section-primary">
				{{ showblockposition('bottomnav') }}
            </footer>
        </div>
		</div>
    </body>
</html>
