{# Purpose of this template: Display activities within an external context #}
{% for activity in items %}
    <h3>{{ activity.getTitleFromDisplayPattern() }}</h3>
    <p><a href="{{ path('rkreferencemodule_activity_display', { 'id': activity.id }) }}">{{ __('Read more') }}</a>
    </p>
{% endfor %}
