{# Purpose of this template: Display informations in html mailings #}
{#
<ul>
{% for information in items %}
    <li>
        <a href="{{ url('rkinfomodule_information_display', { 'id': information.id }) }}
        ">{{ information.getTitleFromDisplayPattern() }}</a>
    </li>
{% else %}
    <li>{{ __('No informations found.') }}</li>
{% endfor %}
</ul>
#}

{{ include('@RKInfoModule/ContentType/itemlist_information_display_description.html.twig') }}
